.halo-window, .halo-drawing-area {
    background: none;
    background-color: transparent;
}

.permission-warning {
    background-color: rgba(30, 30, 30, 0.8);
    border-radius: 12px;
    padding: 10px 20px;
    margin-bottom: 20px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
